.cart-item {
  display: flex;
  height: 150px;
  display: flex;
  padding: 25px 0px;
  border-bottom: 1px solid var(--col-lyt-ash);
}

.controls-price {
  display: flex;
  flex-direction: column;
  width: 90px;
  margin-left: auto;
  font-size: 14px;
  padding-top: 10px;
  text-align: right;
}

.controls-price > .price {
  margin-top: auto;
  font-weight: 700;
}
.cart-item-img-box {
  width: 65px;
}
.cart-item-img-box img {
  object-fit: cover;
}
.cart-item .controls {
  border: 1px solid var(--col-lyt-ash);
}

.cart-item-desc {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 5px;
  font-size: var(--f-12);
  padding-left: 10px;
  padding-top: 10px;
}

.cart-item-desc .remove {
  margin-top: auto;
}

.cart-item .controls > span {
  width: 30px;
  height: 30px;

  background-color: var(--col-body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item .controls > span:nth-of-type(2) {
  width: 30px;
  height: 30px;
  background-color: var(--col-wt);
}
