.carousel-wrapper {
  height: 330px;
  width: 100%;
  position: relative;
  margin-top: 15px;
  margin-bottom: 45px;
}

.carousel-wrapper::before {
  content: "";
  position: absolute;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  width: 40px;
  z-index: 1;
}

.carousel-wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  width: 40px;
  z-index: 1;
  top: 0px;
  right: 0px;
}

.carousel-wrapper .flickity-prev-next-button.previous {
  left: 0px;
  z-index: 2;
  background: transparent;
}

.carousel-wrapper .flickity-prev-next-button.next {
  right: 0px;
  z-index: 2;
  background: transparent;
}

.carousel-wrapper .flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 40%;
  height: 40%;
  color: #000;
}

.carousel-wrapper .flickity-prev-next-button.next:hover {
  background: transparent;
}

.carousel-wrapper .flickity-prev-next-button.previous:hover {
  background: transparent;
}
.genre-info,
.tag-info {
  font-size: var(--f-12);
}
.carousel {
  background: #eee;
}
.user-purchase {
  transform: translateX(5px);
}
.lk svg {
  transform: translateX(-9px);
}
.carousel-wrapper .flickity-page-dots .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 8px;

  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.carousel-wrapper .flickity-page-dots .dot.is-selected {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 8px;
  border-radius: 50%;
  background: var(--col-gr);
  opacity: 1;
  cursor: pointer;
}

.gallery-cell {
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}
.carousel-wrapper .gallery-cell img {
  width: 220px;
  height: 330px;
  object-fit: cover;
  object-position: top;
}

.card-details {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.608), #000 79.7%);
  display: flex;
  flex-direction: column;
  inset: 0;
  justify-content: space-between;
  opacity: 0;
  padding: 30px;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  color: #fff;
}

.card-details:hover {
  opacity: 1;
}
.card-details .available {
  display: inline-block;
  font-size: var(--f-12);
  color: #65c100;
}
.like-and-purchase svg {
  color: #fff;
}

.gallery-cell .card-details .book-title {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
  font-size: var(--f-18);
  margin-bottom: 6px;
}

.gallery-cell .card-details .author,
.featured-book-card .card-details .book-title {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}
.author-info {
  font-size: var(--f-12);
}
.gallery-cell .card-details span {
  display: inline-block;
  font-size: var(--f-12);
}

.gallery-cell .more-book-info {
  display: flex;
}
.gallery-cell .more-book-info .like-and-purchase {
  display: flex;
}

.gallery-cell .more-book-info .ratings {
  border-left: 1px solid #333;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 5px;
}

.gallery-cell .more-book-info .ratings .rating-info {
  align-items: center;
  display: flex;
  margin-bottom: 6px;
}

.gallery-cell .more-book-info .ratings .rating-info h4 {
  margin-right: 5px;
}

.gallery-cell .star-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.star-container {
  background: var(--star-col);
  -webkit-clip-path: polygon(
    50% 0,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  clip-path: polygon(
    50% 0,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  height: 15.38px;
  position: relative;
  width: 16.78px;
}

.star-container .star-glider {
  background: #eba430;
  height: 15.38px;
  inset: 0;
  position: absolute;
  width: 16.78px;
}
